* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Montserrat, serif;
}

body {
  min-width: 1150px;
  margin: auto;
}

header {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #906f4d4d;
}

.logo .first {
  font-family: "Luckiest Guy", serif;
  font-size: calc(40px * 2);
  line-height: 40px;
  color: #002a34;
}

.logo .second {
  font-family: Lora, serif;
  font-size: calc(20px * 2);
  line-height: 26px;
  text-transform: uppercase;
  color: #b2917f;
}

nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.nav_items {
  text-decoration: none;
  color: #002a34;
  text-transform: capitalize;
  font-size: calc(20px * 1.5);
}

main {
  margin: 1.5rem auto;
}

main h1, main h2{
  text-align: center;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-family: Lora, serif;
}

main h1{
  text-transform: none;
  margin: 0.75rem auto 1.75rem;
  font-size: 1.5rem;
}

.pricing_containers{
  margin: 1rem auto 4rem;  
  padding-bottom: 2rem;
  width: 85%;
  border-bottom: 1.5px solid #E1B485;
}

.pricing_containers h3{
  text-transform: capitalize;
  font-size: 1.25rem;
  font-family: Lora, serif;
}

.pricing_containers .bottom{
  display: flex;
align-items: center;
justify-content: space-between;
margin: 1rem 0;
}

.bottom p{
  width: 50%;
  color: #002A34;
}

.bottom span,
.bottom a{
  font-family: "Lora", serif;
  text-decoration: none;
  color: #002A34;
text-transform: capitalize;
font-size: 1.25rem;
}

