* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Montserrat, serif;
  color: #fefefe;
}

body {
  min-width: 1150px;
  margin: auto;
  background:#002a34ce;
  background-size: cover;
  background-attachment: fixed;
}

header {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #906f4d4d;
}

.logo .first {
  font-family: "Luckiest Guy", serif;
  font-size: calc(40px * 2);
  line-height: 40px;
  color: #e1b485;
}

.logo .second {
  font-family: Lora, serif;
  font-size: calc(20px * 2);
  line-height: 26px;
  text-transform: uppercase;
  color: #b2917f;
}

nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.nav_items {
  text-decoration: none;
  color: #e1b485;
  text-transform: capitalize;
  font-size: calc(20px * 1.5);
}

main {
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
}

main > * {
  width: 50%;
}

.right h1 {
  text-align: center;
  margin: 2rem 0 1.75rem;
  font-size: 2.25rem;
}

h1 span {
  display: block;
  color: #e1b485;
  font-family: "Macondo Swash Caps", serif;
  font-size: 3.5rem;
}

.right .image {
  position: relative;
  width: 100%;
  text-align: center;
}

.image > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: block;
  width: 70%;
  height: 25rem;
}

.BGimage {
  position: absolute;
  top: 10px;
  right: 20px;
}

main form {
  background-color: #1f2223;
  padding: 0.75rem 1rem;
}

form > * {
  display: block;
  color: #e1b485;
}

form label {
  font-size: 1rem;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input,
textarea,
select {
  width: 95%;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  padding: 0.75rem;
  color: #e1b48580;
  border: 1px solid #e1b485;
  border-radius: 7px;
  background-color: #002a34;
  cursor: pointer;
}

.custom-file-upload {
  width: 95%;
  height: 9rem;
  display: inline-block;
  background-color: #002a34;
  border: 1px solid #e1b485;
  border-radius: 9px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.custom-file-upload img {
  display: block;
  margin: auto;
}

.custom-file-upload span {
  display: block;
  text-align: center;
  color: #e1b48580;
}

.custom-file-upload input[type="file"] {
  display: none;
}
